// define all variables here
$color-primary: #18379A;
$color-primary-dark: #15328F;
$color-primary-dark-01: #2443A7;
$color-primary-light: #8FAAFF;
$color-gray-light: #e5e5e5;
$color-green-light: #00E59E;
$color-white: #fff;
$color-black: #000;
$color-black-01: #223856;
$color-gray-01: #595959;
$color-gray-02: #7C838D;
$color-red: #FF5B5B;
$color-dashboard-bg: #F0F4F9;